body{
    margin:0;
    height: 100vh;
    font-size:16px;
    font-family: 'Times New Roman', Times, serif;
    /* color:white !important */
}


img{
    /* filter: grayscale(1); */
    width: 150px;
    clip-path: inset(5%);
    filter: contrast(1.4);
}

#myResume{
    font-variant: small-caps;
    font-size: 4rem;
    padding:0;
    margin:0;
    font-weight: bolder;
    position: relative;
}


.viewerCount{
    position: absolute;
    top:100%;left:50%;
    font-size: 2rem;
    background-color:deeppink;
    padding:.3rem .8rem;
    border-radius: 1rem;
    min-width:fit-content;
}


header{
    background-color: black;
    color:white;
    display: flex;justify-content:space-between;align-items: center;
    padding:1rem;
    font-size: 1.3rem;
}

.resume-details{
    margin:1rem;
    padding:1rem;
    background-color:grey;
    display: flex;flex-direction: column;
    justify-content: center; align-items: center;
}



.heading{
    border:2px solid black;
    padding:1rem 0rem;
    width: 100%;
    font-variant: small-caps;
    font-size:2rem;
    font-weight: bold;
    text-align: center;
    margin:2rem;
}
.column-head{
    font-size: 1.5rem;
    font-weight: bold;
}


.content{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(4,1fr);
    text-align: center;
}

.cert-table{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(6,1fr);
    text-align:left;
}
.cert-table > *{
    padding:1rem;
}

.personal-details{
    width:70%;
    display: flex;
    justify-content: center;
}
.personal-details>div>*{
    padding:1rem
}

.internship-details{
    width: 60%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.project-item{
    margin:2rem 0rem;
}

.project-head{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.resume-details:nth-child(even){
    background-color: rgb(172, 172, 172);
}



@media (max-width: 1124px) { 
    
    img{
        border:2px solid white;
        padding:.5rem;
        /* filter: grayscale(1); */
    }
    
    #myResume{
        font-size: 3rem;
    }
       
    .viewerCount{
        font-size: 1.5rem;
    }
    
    header{
        font-size: 1.2rem;
    }
    
    .heading{
        font-size:2rem;
     }
    .column-head{
        font-size: 1.5rem;
    }
}

@media (max-width:980px) {
header{
    display: flex;flex-direction:column;
    justify-content:space-evenly; 
}
#myResume{
    margin:5rem 0;
    font-size:4rem;
}
.project-head{
    width: 100%;
    display: flex;flex-direction: column;
    justify-content: space-between;
}
img{
    /* filter: grayscale(1); */
    width: 150px;
    clip-path: inset(7%);
    filter: contrast(1.4);
}
}


@media (max-width:706px){
.column-head{
    background-color: black;
    color:white;
    font-size: 1rem;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-bottom:1rem;
}
/* .content{
    border:1px solid black;
} */
.content > *:not(.column-head){
    border:1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.personal-details{
    flex-direction: column;
}
.internship-details{
    flex-direction: column;
}
.cert-table > *{
    padding:.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border : 1px solid black;
}
img{
    margin-bottom:4rem;
    clip-path: circle(40% at 50% 50%);
}
}